
*.pyc
data/ast.csv
data/split_data/test/test.csv
data/split_data/train/dev.csv
data/split_data/train/train.csv
*.pkl
data/embedding/train/programs_ast.csv
data/embedding/train/node_w2v_128
data/split_data/dev/blocks.csv
data/split_data/dev/dev.csv
data/split_data/test/blocks.csv
data/split_data/train/blocks.csv
Results/Final-10/Final-10-stats.xlsx
Results/Final-10/Final-10.csv
